.myButtons{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}


/* defining new classs*/

.enabled{                   /*====> now we will add this class to our html element using Js dynamically*/
    background-color: blue;
    color: white;
}


.hover{
    box-shadow: 0 0 10px black;
    font-weight: bold;

}
.disabled{
    background-color: grey;
    color: lightgray;
}

#myH1{
    font-size: 5rem;

}